<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>

      </namespaces>

    </pages>
    <membership>
      <providers>
        <!--
	      此範本已停用 ASP.NET 成員資格。若要了解此範本的 ASP.NET 成員資格支援，請前往下列連結: https://go.microsoft.com/fwlink/?LinkId=301889
        -->
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
	      此範本已停用 ASP.NET 成員資格設定檔。若要了解此範本的 ASP.NET 成員資格支援，請前往下列連結: https://go.microsoft.com/fwlink/?LinkId=301889
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        此範本中已停用 ASP.NET 成員資格角色。若要了解此範本的 ASP.NET 成員資格支援，請前往下列連結: https://go.microsoft.com/fwlink/?LinkId=301889
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            如果您正在部署具有多個網頁伺服器執行個體的雲端環境，
            您應該將工作階段狀態從 "InProc" 變更為 "Custom"。此外，
            將名為 "DefaultConnection" 的連線字串約更為連線至 SQL Server 的
            執行個體 (包含 SQL Azure 和 SQL Compact) 而不是 SQL Server Express。
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
        <customErrors>
            <error redirect="/VectorTileServer/404.aspx" statusCode="404" />
        </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/VectorTileServer/404.aspx" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>